.goal-tbl {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.undo-btn {
  padding-left: 10px;
  background-color: rgb(226, 79, 116);
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.done-btn {
  padding-left: 10px;
  background-color: rgb(79, 216, 79);
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: bold;
}

form {
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
}

.label {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 15px;
}

td {
  width: 100%;
  font-size: 20px;
}
