.timer {
  display: flex;
  flex-direction: column;
}

.timer-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container {
  width: 50%;
}

.submitbtn {
  background-color: green;
}
