.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.submitbtn {
  background-color: green;
}

.timer-form {
  display: inherit;
  flex-direction: column;
}
